
{% block quick %}
<div class="rightcolumn">
    <div class="card">
      <h2>Quick Actions</h2>
      <div class="fakeimg" style="height:50px;">Create New Disaster</div>
      <div class="fakeimg" style="height:50px;">Assign Task</div>
      <div class="fakeimg" style="height:50px;">Allocate Resource</div>

    </div>
    <div class="card">
      <h3>Recent Activity Feed</h3>
      <div class="fakeimg">Updates on Disasters</div><br>
      <div class="fakeimg">Tasks</div><br>
      <div class="fakeimg">Resources</div>
    </div>

  </div>

{% endblock quick %}